asgiref==3.7.2
certifi==2023.5.7
chardet==5.1.0
Django>=3.1.12
django-auth-ldap==4.3.0
django-cors-headers==3.14.0
django-rest-auth==0.9.5
djangorestframework==3.14.0
idna==3.4
psycopg2-binary
pyasn1==0.4.8
pyasn1-modules==0.3.0
python-dotenv==1.0.0
python-ldap==3.4.3
pytz==2023.3
PyYAML==6.0
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
urllib3>=1.26.5
